﻿@model RestAPI.Models.Restaurant

@{
    ViewBag.Title = "getPlace";
}

<h2>getPlace</h2>

<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voices)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voices)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LatT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LatT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
